/* Importação das fontes */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* Definição do corpo da página */
body {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 20px;  /* Aumenta o recuo à esquerda */
    margin-right: 2px;  /* Margem direita */
    margin-top: 20px;   /* Margem superior */
    font-size: 19px;    /* Tamanho da fonte */
    line-height: 1.5;   /* Altura da linha */
}

img {
 margin-top: 40px;
 margin-bottom: 40px
}

/* Ajuste para os parágrafos */
p {
    line-height: 1.6;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

/* Estilo para o código */
pre {
    border: 0;
    padding: 15px;
    background-color: #f8f8f8;
    font-size: 15px;
    margin-bottom: 40px;
    color: black;
}

/* Estilo para os títulos */
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #6d560c;
    margin-left: 20px;  /* Recuo para os títulos */
}

/* Estilo para a barra de navegação */
.navbar-default {
    background-color: #6d560c;
}

.navbar {
    min-height: 50px;  /* Ajusta a altura da barra */
    padding: 5px 10px;  /* Ajusta o espaçamento interno */
}

.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;  /* Ajusta o tamanho dos itens da barra */
    margin-left: 20px;  /* Recuo para os itens de navegação */
}

/* Estilo para os itens ativos da lista de navegação */
.list-group-item.active {
    z-index: 2;
    color: #ffffff;
    background-color: #6d560c;
    border-color: #6d560c;
}

/* Ajustes adicionais no layout */
.content-container {
    margin-left: 20px;  /* Recuo adicional ao conteúdo */
}

/* Estilo para o cabeçalho, ajustando a altura */
.navbar-brand {
    font-size: 18px;  /* Ajusta o tamanho do título */
    padding: 5px 10px;
}

/* Ajuste na lista de itens para adicionar um recuo */
.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px;
    margin-left: 20px;
}
